.Person {
  display: flex;
  flex-direction: column;
  border: 1px solid #eee;
  width: 50%;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 10px auto;
}

input {
  margin-bottom: 15px;
}
